<h1 class="text-center">Houses</h1>
<section>
    <div class="container">
        <div class="row">
            <!-- <div class="col-12 d-flex border border-3 border-dark shadow shadow-5 p-0">
                <img src="https://images.unsplash.com/photo-1583608205776-bfd35f0d9f83?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="a house" class="img-fluid img-sizing">
                <div class="p-4">
                    <h2>4 Bedrooms, 2 bathrooms</h2>
                    <h3>3 story</h3>
                    <h2>$100000</h2>
                </div>
                <div class="py-4">
                    <p>built in 1982</p>
                    <p>this sure is quite the house bieng sold here lemme tell ya</p>
                    <p>listed by: Porter</p>
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- // bedrooms: Number, requiredvvvvvvv
// bathrooms: Number, requiredvvvvv
// levels: Number, requiredvvvvv
// imgUrl: String,vvvvvv
// year: Number, requiredvvvvvvv
// price: Number, requiredvvvvv
// description: String,vvvvvvv
// creatorId: SchemaObjectId, required
// *creator: Object (Virtual Added by Database)
// *createdAt: ISO Timestamp (Virtual Added by Database)
// *updatedAt: ISO Timestamp (Virtual Added by Database) -->